.boxes {
    width: 30%;
    height: 5%;
    padding: 2%;
    display: inline-block;
    color: black;
    background-color: blueviolet;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 1%;
    font-size: 20px;
    color: white;
}

.content-header {
    font-size: 44px;
    padding: 5px;
}

#submit-btn {
    height: 5%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin: 10px;
    background-color: blueviolet;
    padding: 2%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#textbox {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 20rem;
}